html {
  font-size: 16px;
}

body {
  margin: 0;
  font: 300 14px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #022c43;
  overflow: hidden;
  display: block;
}

.dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}